<h1>Checked-In Students</h1>

    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Graduation Date</th>
            <th>Check In Time</th>
        </tr>
        <tbody>
        </thead>
        <%@Students.each do |student|%>
            <tr>
                <td>
                <%= student.first_name%>
                </td>
                <td>
                <%= student.last_name%>
                </td>
                <td>
                <%= student.graduation_date.to_s%>
                </td>
                <td>
                <%= student.created_at.to_s%>
                </td>
                <td>
                    <%=link_to 'Show', student%>
                </td>
                <td>
                    <%=link_to 'Edit', edit_student_path(student), method: :get%>
                </td>
                <td>
                    <%=link_to 'Destroy', student_path(student), method: :delete%>
                </td>
            </tr>
        <%end%>
        </tbody>
    </table>